/*body {
  margin-bottom: 60px;
}*/


.footer {
  bottom: 0px;
  width: 100%;
  line-height: 60px;
  background-color: #f5f5f5;
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.navbar {
  font-size: 30px;
}

#whatWeDo {
  background-color: #54c8f2;
  height: 20vh;
}

#featuredProducts {
  /*height: 50vh;*/
}

.about {
  /*position: relative;*/
  text-align: center;
  width: auto;
  font-size: 25px;
}

h2 {
  /*font-size: 100px;*/
  text-align: center;
}

.card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.box{
  border: black solid 1px;
  border-radius: 3px;
  margin: 1px;
  padding: 5px;
}
